<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INI ISIAN</h1>

    <h1>Isi Provisi di Indonesia</h1>
    <form action="isiProvinsi/" method="POST">
    {% csrf_token %}

    {{provform.as_table}}

    <input type="submit" value="Submit" class="btn btn-light">
    </form>

    <h1>Isi Universitas di Indonesia</h1>
    <form action="isiUniversitas/" method="POST">
        {% csrf_token %}
    
        {{univform.as_table}}
    
        <input type="submit" value="Submit" class="btn btn-light">
        </form>
    
    <a href="/signout/"><button>signout</button></a>
</body>
</html>